doctype html


html
  head
    title DanceWithRahul.com
    block scripts
    block style
      
  body
    nav#navbar.top
      ul#nav 
        div#logo
          img(src="/static/images/logo.png", alt="logo", srcset="",Class='logo')
          |RDA
        li #[a(href="/") Home]
        li #[a(href="/") Services]
        li #[a(href="/about") About]
        li #[a(href="/contact") Contact Us]
        li #[a(href="/classInfo") Class Info]
    block content
    footer#footer 
      | CopyRight © 2021 @DanceWithRahul.com | All right reserved. 